.bottom-space {
	margin-bottom: 20px;
}

.gras {
	font-weight: bold;
}

.underlined {
	text-decoration: underline;
}

/*Style pour la zone de preview dans historique patient*/

.appercu .gras {
	font-weight: bold;
}
.appercu .centrer {
	text-align: center;
}
.appercu .t6 {
	font-size: 10px;
}
.appercu .t8 {
	font-size: 12px;
}
.appercu .t9 {
	font-size: 13px;
}
.appercu .t10 {
	font-size: 14px;
}
.appercu .t12 {
	font-size: 16px;
}

.appercu h2 {
	margin-top: 4px;
	font-size: 22px;
}

.appercu h3 {
	margin: 12pt 0 5px;
	padding: 0;
	font-size: 20px;
}

.appercu h4 {
	margin: 10pt 0 3px;
	padding: 0;
	font-size: 18px;
}

.appercu ul {
	margin: 0 0 0 10px;
	padding: 0;
}

.appercu .vat {
	vertical-align: top;
}

.appercu .cbox {
	font-family: DejaVu Sans, sans-serif;
	font-size: 16px;
}

.appercu th {
	background: #555;
	color: #FFF;
	text-align: center;
	font-size: 14px;
}

.appercu .tabPatiente td {
	vertical-align: top;
	margin: 0;
	padding: 0;
	text-align: left;
}

.appercu .bordurelat {
	border-left: 1pt solid #000;
	border-right: 1pt solid #000;

}
