{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/
/##
 # Template > patient : historique medical
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% import "macroForm.html.twig" as f %}
{% if page.patient.historique %}
  <div class="col-md-12 px-0 historiqueMedicalComplet">
    <div class="card">
      <div class="card-header py-0 gras">Historique complet</div>


      <div id="historiqueTypeSelect" class="btn-group btn-group-sm" role="group" aria-label="..." style="margin : 10px 5px">
          <button type="button" data-groupe="tous" class="btn btn-default active">Tous</button>
          <button type="button" data-groupe="typecs" class="btn btn-default d-none d-lg-block">Consultations</button>
          <button type="button" data-groupe="typecs" class="btn btn-default d-none d-sm-inline-block d-lg-none">Consults</button>
          <button type="button" data-groupe="ordo" class="btn btn-default d-none d-lg-block">Ordonnances</button>
          <button type="button" data-groupe="ordo" class="btn btn-default d-none d-sm-inline-block d-lg-none">Ordos</button>
          <button type="button" data-groupe="courrier" class="btn btn-default d-none d-sm-inline-block">Courriers</button>
          <button type="button" data-groupe="doc" class="btn btn-default d-none d-lg-block">Documents reçus</button>
          <button type="button" data-groupe="doc" class="btn btn-default d-none d-sm-inline-block d-lg-none">Docs reçus</button>
          <button type="button" data-groupe="docinterne" class="btn btn-default d-none d-lg-block">Documents créés</button>
          <button type="button" data-groupe="docinterne" class="btn btn-default d-none d-sm-inline-block d-lg-none">Docs créés</button>
          <button type="button" data-groupe="reglement" class="btn btn-default d-none d-sm-inline-block">Règlements</button>
      </div>


      <table class="table table-sm mb-0 table-hover " data-zone="historiqueMedicalComplet">
          <thead>
              <tr>
                  <th>Date</th>
                  <th>Actions</th>
                  <th>Acte</th>
                  <th>Auteur</th>
              </tr>
          </thead>
          <tbody>
            {% for k,c in page.patient.historique %}
              <tr class="anneeHistorique"><td colspan="4" class="bg-primary"><strong>{{ k }}</strong></td></tr>
              {% for cs in c %}
                {% include 'pht-ligne-'~ cs.groupe ~'.html.twig' %}
              {% endfor %}
            {% endfor %}

          </tbody>
      </table>
    </div>
  </div>
{% endif %}
