{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : modal de gestion des prescriptions types
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div id="modalLapPresPreSave" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Enregistrement d'une prescription type</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <div class="form-group">
            <label for="ordoTypeName">Nom de la prescription type</label>
            <input type="text" class="form-control" id="ordoTypeName" placeholder="Nom de la prescription type" autocomplete="off">
            <small class="form-text text-muted">Ce nom est celui qui apparaitra dans le menu de sélection</small>
          </div>
          <div class="form-group">
            <label for="ordoTypeCat">Cartégorie</label>
            <select id="ordoTypeCat" class="custom-select" autocomplete="off">
            </select>
            <small class="form-text text-muted">Le classement de la prescription dans sa catégorie est alphabétique</small>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Abandonner</button>
        <button id="modalLapPresPreSaveDo" type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
