{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : modal de recherche et prescription
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div id="modalRecherche" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Nouvelle prescription</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

        {# Onglets #}
        <ul class="nav nav-tabs mb-2" role="tablist">
          <li class="nav-item">
            <a id="recherchermedicTab" class="nav-link active" href="#recherchermedic" aria-selected="true" aria-controls="recherchermedic" role="tab" data-toggle="tab">Rechercher</a>
          </li>
          <li class="nav-item" style="display: none;">
            <a id="prescriremedicTab" class="nav-link" href="#prescriremedic" aria-controls="prescriremedic" aria-selected="false" role="tab" data-toggle="tab">Prescrire</a>
          </li>
          <li class="nav-item" style="display: none;">
            <a id="posologiesmedicTab" class="nav-link" href="#posologiesmedic" aria-controls="posologiesmedic" aria-selected="false" role="tab" data-toggle="tab">Posologies</a>
          </li>
        </ul>
        <div class="tab-content">

          {# Onglet Rechercher #}
          <div role="tabpanel" class="tab-pane active" id="recherchermedic">
            <div class="row">
              <form id="rechercheMedic" class="col-12">
                <div class="row">
                  <div class="col-md-4 pr-0">
                    <div class="form-group">
                      <label for="txtRechercheMedic">Rechercher</label>
                      <input type="text" class="form-control" id="txtRechercheMedic" autocomplete="off" placeholder="médicament, substance, code ..."/>
                      <span id="txtRechercheMedicHB" class="form-text small">Taper ici le texte de votre recherche</span>
                    </div>
                  </div>
                  <div class="col-md-4 pl-1 pr-0">
                    <div class="form-group">
                      <label for="typeRechercheMedic">Dans</label>
                      <select id="typeRechercheMedic" class="custom-select" autocomplete="off">
                        <option {% if config.lapSearchDefaultType == 'dci' %} selected="selected"{% endif %} value="dci">Médicaments virtuels (DCI)</option>
                        <option {% if config.lapSearchDefaultType == 'dcispe' %} selected="selected"{% endif %} value="dcispe">Médicaments virtuels + Spécialités commerciales</option>
                        <option {% if config.lapSearchDefaultType == 'spe' %} selected="selected"{% endif %} value="spe">Spécialités commerciales</option>
                        <option {% if config.lapSearchDefaultType == 'suba' %} selected="selected"{% endif %} value="suba">Substances actives</option>
                        <option {% if config.lapSearchDefaultType == 'atc' %} selected="selected"{% endif %} value="atc">Code ATC</option>
                        <option {% if config.lapSearchDefaultType == 'indications' %} selected="selected"{% endif %} value="indications">Indications</option>
                      </select>
                      <span id="typeRechercheMedicHB" class="form-text small">Lieu de recherche du texte indiqué</span>
                    </div>
                  </div>
                  <div class="col-md-4 pl-1">
                    <div id="retourRechercheMedicBloc" class="form-group" style="display : none;">
                      <label for="typeRechercheMedic">Montrer</label>
                      <select id="retourRechercheMedic" class="custom-select" autocomplete="off">
                        <option value="1">Médicaments virtuels (DCI)</option>
                        <option value="3">Médicaments virtuels + Spécialités commerciales</option>
                        <option value="0">Spécialités commerciales</option>
                      </select>
                      <span id="retourRechercheMedicHB" class="form-text small">Médicaments retournés</span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="row">
              <div id="rechercheResultats" tabindex="1" class="col p-0" style="outline: 0;"></div>
            </div>
          </div>

          {# Onglet Prescrire #}
          <div role="tabpanel" class="tab-pane" id="prescriremedic">

            <form>
              <div id="prescriptionAlertMultimedic" class="alert alert-info" role="alert" style="display: none;">Quand plusieurs médicaments sont dans la même ligne de prescription, c'est le 1er qui gouverne durée, voie d'administration et consignes complémentaires.</div>
              <div class="row">
                <div class="col-md-8">
                  <div class="form-group">
                    <textarea class="form-control font-weight-bold form-control-sm" rows="2" id="lapFrappePrescription" autocomplete="off" style="font-size:30px" placeholder="saisir ici la prescription"></textarea>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control font-weight-bold form-control-sm" rows="2" id="lapConsignesPrescription" autocomplete="off" style="font-size:15px" placeholder="consignes complémentaires"></textarea>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <select id='uniteUtilisee' class="custom-select custom-select-sm"></select>
                  </div>
                  <div class="form-group">
                    <select id="voieUtilisee" class="custom-select custom-select-sm"></select>
                  </div>
                  <div class="form-group">
                    <button type="button" class="btn btn-info btn-sm btn-block voirPosologies">
                      <span class="fas fa-book" aria-hidden="true"></span>
                      Indications & posologies</button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col prescriptionChampsDuree">
                  <label class="control-label" for="beginPeriodeID">Première prise
                  </label>
                  <div id="beginPeriodeIDB" class="input-group input-group-sm mx-0 date datepick">
                    <input type="text" id="beginPeriodeID" name="beginPeriode" class="form-control form-control-sm" autocomplete="off" value="{{ "now"|date("d/m/Y") }}"/>
                    <div class="input-group-append">
                      <span class="fas fa-calendar input-group-text"></span>
                    </div>
                  </div>
                </div>
                <div class="form-group col prescriptionChampsDuree">
                  <label class="control-label" for="beginPeriodeID">Renouveler
                  </label>
                  <select id="nbRenouvellements" class="custom-select custom-select-sm" autocomplete="off">
                    <option selected="selected" value="0">ne pas renouveler</option>
                    <option value="1">renouveler 1 fois</option>
                    <option value="2">renouveler 2 fois</option>
                    <option value="3">renouveler 3 fois</option>
                    <option value="4">renouveler 4 fois</option>
                    <option value="5">renouveler 5 fois</option>
                  </select>
                </div>
                <div class="form-group col prescriptionChampsDuree prescriptionChampsEnd">
                  <label class="control-label" for="beginPeriodeID">Dernière prise
                  </label>
                  <div id="endPeriodeIDB" class="input-group input-group-sm  mx-0 date datepick">
                    <input disabled="disabled" readonly="readonly" type="text" id="endPeriodeID" name="endPeriode" class="form-control form-control-sm" autocomplete="off"/>
                    <div class="input-group-append">
                      <span class="fas fa-calendar input-group-text"></span>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label class="control-label" for="prescripteurInitialTT">Prescripteur
                  </label>
                  <input type="text" id="prescripteurInitialTT" class="form-control form-control-sm" autocomplete="off"/>
                </div>
              </div>

              <div id="prescriptionAlertSecabilite" class="alert alert-danger" role="alert" style="display: none;">Attention, la sécabilité telle que vous la souhaitez ne semble pas assurée !</div>

              <div class="jumbotron p-4" id="prescriptionHuman">
                  <div id="prescriptionHumanMedicName" class="font-weight-bold"></div>
                  <div id="prescriptionHumanRecap"></div>
                  <div id="prescriptionHumanPoso"></div>
                  <div id="prescriptionHumanConsignes" class="small"></div>
              </div>
              <div class="form-row align-items-center mb-2">
                <div class="col-auto">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="prescriptionAldCheckbox" value="" type="checkbox" name="ald">
                    <label class="form-check-label" for="prescriptionAldCheckbox">ALD</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="prescriptionChroCheckbox" type="checkbox" name="chro" value="">
                    <label class="form-check-label" for="prescriptionChroCheckbox">TT chronique</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" id="prescriptionNpsCheckbox" type="checkbox" name="chro" value="">
                    <label class="form-check-label" for="prescriptionNpsCheckbox">Non substituable</label>
                  </div>
                </div>

                <div class="col-auto">
                  <input type="text" class="form-control form-control-sm" id="prescriptionNpsMotif" placeholder="motif pour non substituable" style="display: none;">
                </div>
              </div>

                <div class="form-group">
                  <textarea class="form-control" rows="1" id="prescriptionMotif" autocomplete="off" placeholder="motif de prescription (non imprimé)"></textarea>
                </div>

              <div class="form-row text-right">
                <div class="col">
                  <button type="button" class="btn btn-primary sendToOrdonnance"><i class="fas fa-plus"></i> Ajouter à l'ordonnance</button>
                  <button type="button" class="btn btn-primary sendModifToOrdonnance">Modifier la prescription</button>
                  <button type="button" class="btn btn-primary addToLigneOnOrdonnance">Ajouter à la ligne de prescription</button>
                  <button type="button" class="btn btn-primary addToTTenCours">Ajouter au traitement en cours</button>
                </div>
              </div>
            </form>

          </div>

          {# Posologies #}
          <div role="tabpanel" class="tab-pane" id="posologiesmedic"></div>
        </div>
      </div>
    </div>
  </div>
</div>
