{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : modal d'alerte
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div id="modalLapAlerte" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title gras">Alerte !</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button id="modAlerteImprimer" type="button" class="btn printAndSaveOrdo" data-dismiss="modal"><span class="fa fa-print" aria-hidden="true"></span> Imprimer</button>
        <button id="modAlerteModifier" type="button" class="btn btn-danger" data-dismiss="modal"><span class="fa fa-pencil" aria-hidden="true"></span> Modifier ordonnance</button>
        <button id="modAlerteFermer" type="button" class="btn btn-danger" data-dismiss="modal">C'est noté !</button>
      </div>
    </div>
  </div>
</div>
