php_value post_max_size 300M
php_value upload_max_filesize 300M
php_value max_input_vars 20000
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^public/.* public.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^phonecapture/.* phonecapture.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
