php_value max_input_vars 20000
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^public/.* public.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^phonecapture/.* phonecapture.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
