
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
.vagrant/
*.box
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
MedShakeEHR-base.zip
secrets.yml
composer.lock
vendor/
config/config.yml
public_html/thirdparty
public_html/MEDSHAKEEHRPATH
tools/docker/.env
tools/docker/orthanc.json