{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > LAP : tab patient racine
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div class="row">
  {# Colonne de gauche : données physio #}
  <div id="patientLateralData" class="col-md-2">
  </div>

  {# Colonne de droite #}
  <div class="col-md-10">

    {# Onglets #}
    <ul class="nav nav-tabs gras" role="tablist">
      <li class="active" role="presentation">
        <a id="ordonnanceTabL" href="#ordonnanceTab" aria-controls="profile" role="tab" data-toggle="tab">Nouvelle ordonnance</a>
      </li>
      <li role="presentation">
        <a id="tttencoursTabL" href="#tttencoursTab" aria-controls="messages" role="tab" data-toggle="tab">Traitement en cours</a>
      </li>
      <li role="presentation">
        <a id="ordohistoriqueTabL" href="#ordohistoriqueTab" aria-controls="messages" role="tab" data-toggle="tab">Historique des ordonnances</a>
      </li>
      <li role="presentation">
        <a id="tthistoriqueTabL" href="#tthistoriqueTab" aria-controls="messages" role="tab" data-toggle="tab">Historique des traitements</a>
      </li>
      <li role="presentation">
        <a id="prescriptionspreTabL" href="#prescriptionspreTab" aria-controls="messages" role="tab" data-toggle="tab">Prescriptions préétablies</a>
      </li>
    </ul>

    <div class="tab-content" style="padding-top :15px; padding-bottom: 15px;">

      {# Onglet Ordonnance #}
      <div role="tabpanel" class="tab-pane active" id="ordonnanceTab">
        <div class="row bottom-space">
          <div class="col-md-5">
            <button type="button" class="btn btn-primary nouvellePrescription">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Nouvelle prescription</button>
            <button type="button" class="btn btn-danger analyserPrescription">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Analyser</button>

            <div class="btn-group">
              <button type="button" class="btn btn-default printAndSaveOrdo">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Imprimer et sauvegarder</button>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a href="#" class="printAndSaveOrdo">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    Imprimer et sauvegarder</a>
                </li>
                <li>
                  <a href="#">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                    Imprimer sans infos prescripteur et sauvegarder</a>
                </li>
                <li>
                  <a href="#" class="saveOrdo">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                    Sauvegarder uniquement</a>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-5 form-horizontal">
            <div class="form-group">
              <label for="ordoName" class="col-md-4 control-label">Titre de l'ordonnance</label>
              <div class="col-md-8">
                <input type="text" id="ordoName" class="form-control" value=""/>
              </div>
            </div>
          </div>
          <div class="col-md-2 text-right">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a href="#" class="convertAllDci"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Convertir l'ordonnance en DCI</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#" class="removeAllLignesPrescription">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Supprimer tout</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#" class="ordoLiveRestore">
                    <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                    Récupération d'urgence</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#" class="lapOrdoAnalyseResBrut">Voir data brutes analyse Thériaque</a>
                </li>
              </ul>
            </div>

          </div>
        </div>
        <div class="row">
          <div id="conteneurOrdonnanceCourante" class="col-md-12">
            <div class="alert alert-danger gras" role="alert">Prescriptions ALD</div>
            <div style="min-height:15px;" class="connectedOrdoZones ald conteneurPrescriptionsALD"></div>
            <div class="alert alert-success gras" role="alert">Prescriptions standards</div>
            <div style="min-height:15px;" class="connectedOrdoZones conteneurPrescriptionsG"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right coutOrdo">
          </div>
        </div>
      </div>

      {# Onglet Traitement en cours #}
      <div role="tabpanel" class="tab-pane" id="tttencoursTab">
        <div class="row bottom-space">
          <div class="col-md-12">
            <div class="form-group">
              <button type="button" class="btn btn-primary saisirTTenCours">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Saisir un traitement en cours</button>
              <button type="button" class="btn btn-default newCourrier" data-modele="modeleCourrierTtEnCours">
                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                Imprimer</button>
              <button type="button" class="btn btn-default effetsIndesirables">Effets indésirables</button>
            </div>
            <div class="alert alert-info gras" role="alert">Traitements chroniques
              <small>(Traitements en cours ou présumé en cours de par la nature chronique)</small>
            </div>
            <div id="traitementEnCoursChronique" class="traitementEnCoursChronique"></div>

            <div class="alert alert-warning gras" role="alert">Traitements ponctuels</div>
            <div id="traitementEnCoursPonctuel" class="traitementEnCoursPonctuel"></div>
          </div>
        </div>
      </div>

      {# Onglet historique des ordo #}
      <div role="tabpanel" class="tab-pane" id="ordohistoriqueTab">
        <div class="row bottom-space">
          <div class="col-md-12">
            <div id="historiqueOrdos"></div>
          </div>
        </div>

      </div>

      {# Onglet historique des traitements #}
      <div role="tabpanel" class="tab-pane" id="tthistoriqueTab">
        <div class="row bottom-space">
          <div class="col-md-12">
            <div id="historiqueTT"></div>
          </div>
        </div>

      </div>

      {# Onglet prescriptions préétablies #}
      <div role="tabpanel" class="tab-pane" id="prescriptionspreTab">
        <div class="row bottom-space">
          <div class="col-md-3">
            <div id="listePresPre"></div>
          </div>
          <div class="col-md-9">
            <div id="voirPresPre"></div>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
