{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > people : relations du patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #}
{% import "macroForm.html.twig" as f %}
<div class="row">
  <div class="col-12 col-xl-6 mb-4 p-0 pl-xl-0 pr-xl-3">
    <div class="card col-12 p-0">
      <div class="card-header font-weight-bold"><i class="fas fa-user-md fa-fw fa-lg text-secondary"></i> Praticiens</div>
      <div class="card-body">
        <form class="form-inline my-2 d-flex">
          <div class="form-group flex-grow-1">
            <div class="input-group flex-grow-1">
              <input class="form-control flex-grow-1 searchPeopleID" type="text" placeholder="Identité" data-ajax="getRelationsPraticiens" autocomplete="off"/>
              {{ f.select ({
              'select' : {
                'class' : 'toStatutRelation',
                'values' : page.preRelationPatientPrat.formValues,
                'valueDefaut' : el.value.preValue,
                'autocomplete' : 'off' } }) }}
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary addRelation" data-typeRelation="relationPatientPraticien" data-peopleID="{{ page.patient.id }}"><i class="fas fa-plus mr-1"></i> Ajouter</button>
              </div>
            </div>
          </div>
          {% if config.droitDossierPeutCreerPraticien == 'true' %}
          <div class="form-group">
            <button type="button" class="btn btn-outline-secondary float-right ml-4" data-toggle="modal" data-target="#newPro"><i class="fas fa-user-md mr-1"></i> Nouveau praticien</button>
          </div>
          {% endif %}
        </form>
      </div>


      <table class="table table-sm mb-0">
				<thead>
					<tr>
						<th></th>
						<th>Praticien</th>
						<th>Qualité</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="bodyTabRelationPatientPrat">
				</tbody>
			</table>
      <script>setTimeout(getRelationsPatientPraticiensTab($('#identitePatient').attr("data-patientID")), 200);</script>
    </div>
  </div>


	<div class="col-12 col-xl-6 mb-4 p-0 pr-xl-0 pl-xl-3">
		<div class="card col-12 p-0">
			<div class="card-header font-weight-bold"><i class="fas fa-sitemap fa-fw fa-lg text-secondary mr-1"></i> Liens familiaux</div>
			<div class="card-body">
				<form class="form-inline d-flex">
            <div class="input-group my-2 flex-grow-1">
  						<input class="form-control searchPeopleID" type="text" data-ajax="getRelationsPatients" placeholder="Identité" autocomplete="off"/>
				      {{ f.select ({
              'select' : {
                'class' : 'toStatutRelation',
                'values' : page.preRelationPatientPatient.formValues,
                'valueDefaut' : el.value.preValue,
                'autocomplete' : 'off' } }) }}
              <div class="input-group-append">
					      <button type="submit" class="btn btn-primary addRelation" data-typeRelation="relationPatientPatient" data-peopleID="{{ page.patient.id }}"><i class="fas fa-plus mr-1"></i> Ajouter</button>
              </div>
  					</div>
				</form>
			</div>

      <table class="table table-sm mb-0">
				<thead>
					<tr>
						<th></th>
						<th>Patient</th>
            <th>Date de naissance</th>
						<th>Qualité</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="bodyTabRelationPatientPatients"> </tbody>
			</table>
      <script>setTimeout(getRelationsPatientPatientsTab($('#identitePatient').attr("data-patientID")), 200);</script>
		</div>
	</div>

</div>

{# modal creation nouveau praticien #}
{% if config.droitDossierPeutCreerPraticien == 'true' %}
  {% include 'inc-patientModal-newPrat.html.twig' %}
{% endif %}
