{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : changer date d'effet d'un élément de l'historique
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 # @contrib fr33z00 <https://github.com/fr33z00>
 #
#}

<div id="modalCreationDate" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Modifier la date affichée</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
            <p>Cet élément a été enregistré en base le
              <span id="modalRegisterDateDisplay"></span></p>
            <p>Il est actuellement affiché en date du
              <span id="modalCreationDateDisplay"></span></p>
            <form id="formNewCreationDate" action="{{ config.protocol }}{{ config.host }}{{ config.urlHostSuffixe }}/patient/ajax/changeObjetCreationDate/" method="post">
              <input name="objetID" type="hidden" value=""/>
              <label for="datepickHisto">Modifier la date d'effet pour le :</label>
              <div class="input-group date w-50" id="datepickHisto">
                <input name="newCreationDate" type="text" class="form-control"/>
                <span class="input-group-append">
                  <span class="fas fa-calendar input-group-text"></span>
                </span>
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary modalCreationDateClose" data-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>
