{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2019
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > listing patient / prat : rendre utilisateur
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

{% import "macroForm.html.twig" as f %}

<div id="modalRendreUtilisateur" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title font-weight-bold">Rendre utilisateur du logiciel</h4>
      </div>
      <div class="modal-body">
        {{ f.errorsBloc(false) }}
        {{ f.formbuilder(page.formModal , page.formModalIN , session) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary modal-save" data-form="formName_{{ page.formModalIN }}" data-modal="modalRendreUtilisateur">Valider</button>
      </div>
    </div>
  </div>
</div>
