#! /bin/bash

msehrDbName={{ sqlDbName }}
mysqlUser={{ sqlUserAccount }}
mysqlUserPswd={{ sqlUserPassword }}
msehrDom={{ domain }}
export MEDSHAKEEHRPATH=/vagrant
su www-data -s/bin/bash -c  "php /vagrant/public_html/install.php -N -s localhost -d $msehrDbName -u $mysqlUser -p $mysqlUserPswd -r https -D $msehrDom"