{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > patient : historique medical
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}
<div class="row">
    <div class="panel panel-default historiqueMedicalComplet">
        <div class="panel-heading gras">Historique complet</div>


        <div id="historiqueTypeSelect" class="btn-group btn-group-sm" role="group" aria-label="..." style="margin : 10px 5px">
          <button type="button" data-groupe="tous" class="btn btn-default active">Tous</button>
          <button type="button" data-groupe="typecs" class="btn btn-default">Consultations</button>
          <button type="button" data-groupe="ordo" class="btn btn-default">Ordonnances</button>
          <button type="button" data-groupe="courrier" class="btn btn-default">Courriers</button>
          <button type="button" data-groupe="doc" class="btn btn-default">Documents reçus</button>
          <button type="button" data-groupe="docinterne" class="btn btn-default">Documents créés</button>
          <button type="button" data-groupe="reglement" class="btn btn-default">Règlements</button>
        </div>


        <table class="table table-hover" data-zone="historiqueMedicalComplet">
            <thead>
                <tr>
                    <th class="col-md-1">Date</th>
                    <th class="col-md-2">Actions</th>
                    <th class="col-md-5">Acte</th>
                    <th class="col-md-3">Auteur</th>
                    <th class="col-md-1"></th>
                </tr>
            </thead>
            <tbody>
              {% for k,c in page.patient.historique %}
                <tr class="anneeHistorique"><td colspan="5" class="bg-primary"><strong>{{ k }}</strong></td></tr>
                {% for cs in c %}
                  {% include 'pht-ligne-'~ cs.groupe ~'.html.twig' %}
                {% endfor %}
              {% endfor %}

            </tbody>
        </table>
    </div>
</div>
