{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : onglet de recherche
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<br><br>
<form id="rechercheMedic">
  <div class="col-md-4">
    <div class="form-group">
      <label for="txtRechercheMedic">Rechercher</label>
      <input type="text" class="form-control" id="txtRechercheMedic" autocomplete="off" placeholder="nom de médicament ou de substance, code ..."/>
      <span id="txtRechercheMedicHB" class="help-block">Taper ici le texte de votre recherche</span>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label for="typeRechercheMedic">Dans</label>
      <select id="typeRechercheMedic" class="form-control" autocomplete="off">
        <option value="dci">Médicaments virtuels (DCI)</option>
        <option value="dcispe">Médicaments virtuels + Spécialités commerciales</option>
        <option value="spe">Spécialités commerciales</option>
        <option value="suba">Substances actives</option>
        <option value="atc">Code ATC</option>
      </select>
      <span id="typeRechercheMedicHB" class="help-block">Lieu de recherche du texte indiqué</span>
    </div>
  </div>
  <div class="col-md-3">
    <div id="retourRechercheMedicBloc" class="form-group" style="display : none;">
      <label for="typeRechercheMedic">Montrer</label>
      <select id="retourRechercheMedic" class="form-control" autocomplete="off">
        <option value="1">Médicaments virtuels (DCI)</option>
        <option value="3">Médicaments virtuels + Spécialités commerciales</option>
        <option value="0">Spécialités commerciales</option>
      </select>
      <span id="retourRechercheMedicHB" class="help-block">Médicaments retournés</span>
    </div>
  </div>
</form>

<div class="row">
  <div id="rechercheResultats"></div>
</div>
