{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > lap : ligne d'ordonnance
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #
#}

<div class="well well-sm lignePrescription{% if page.isALD == 'true' %} ald{% endif %}">
  <div class="pull-right text-right">
    <button class="btn btn-default btn-xs removeLignePrescription"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>

    <div class="btn-group">
      <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" class=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Ajouter un médicament à cette ligne de prescription</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" class=""><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Convertir en DCI</a></li>
      </ul>
    </div>

  </div>
  <div class="gras">{{ page.medicData.nomUtileFinal }}</div>
  <div>{{ page.medicData.prescriptionHumanRecap }}</div>
  <div>{{ page.medicData.prescriptionHumanPoso }}</div>
  <textarea style="display: none;" class="lapFrappePrescription">{{ page.prescriptionMachinePoso }}</textarea>

</div>
