{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2020
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Public : procédure lost password, demande de l'email
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}{{ config.designAppName }} : mot de passe perdu{% endblock %}

{% block jsEmbed %}
{{ parent() }}
$(document).ready(function() {
  $("#treatEmail").on("click", function(e) {
    e.preventDefault();
    email = $('#email').val();

    $.ajax({
      url: urlBase + '/public/ajax/publicLostPasswordEmailTreat/',
      type: 'post',
      data: {
        email: email
      },
      dataType: "html",
      success: function() {
        $('#emailConfirmSyntax').html(email);
        $('i.fa-lock').addClass('text-warning').removeClass('text-danger');
        $('#emailAskForm').addClass('d-none');
        $('#emailTreatConfirmation').removeClass('d-none');
      },
      error: function() {
        alert('Problème, rechargez la page !');
      }
    });

  });
});
{% endblock %}

{% block body %}

<div class="mt-4 d-flex flex-column align-items-center justify-content-center" style="height: calc(100vh - 200px); min-height: 250px">
  <div class="mb-3"><i class="fas fa-lock fa-10x text-danger"></i></div>

  <div id="emailTreatConfirmation" class="d-none text-center">
    <p><strong>Nous venons de faire tout notre possible !</strong></p>
    <p>Si nous avons trouvé l'adresse <span id="emailConfirmSyntax"></span> vous recevrez bientôt un mail.</p>
    <p>Dans le cas contraire, merci de contacter l'administrateur du site.</p>
    <p><button class="btn btn-outline-primary mt-3" onClick="window.location.reload();">Recommencer</button></p>
  </div>

  <div id="emailAskForm" class="text-center">
    <p class="font-weight-bold">Vous avez perdu votre mot de passe ?</p>
    <p>Entrez votre adresse email dans le champ ci-dessous et validez !</p>

    <form>
      <div class="form-group">
        <input id="email" type="email" class="form-control">
      </div>
      <button id="treatEmail" class="btn btn-primary">Valider</button>
    </form>
  </div>
</div>

{% endblock %}
