{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2017
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Config : vérification des répertoires de stockage
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}
{% extends "page.html.twig" %}
{% import "macroForm.html.twig" as f %}
{% block title %}MedShakeEHR : configuration{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Accessibilité en écriture des répertoires généraux</h1>

    <p>Les répertoires testés sont ceux de la configuration générale (fichier config.yml).</p>

    <div class="row">

        <div class="col-md-12">

            <table class="table table-bordered">
                <tr>
                    <th class="col-md-2">
                        Répertoire
                    </th>
                    <th class="col-md-6">
                        Chemin
                    </th>
                    <th class="col-md-2">
                        Existe
                    </th>
                    <th class="col-md-2">
                        Est accessible en écriture
                    </th>
                </tr>
                {% for k, v in page.check %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ config[k] }}
                          {% if k == 'agendasConfigurations' %}{{ config.webDirectory }}agendasConfigurations/{% endif %}
                        </td>
                        <td class="{% if v.is_dir == 1 %}success{% else %}danger{% endif %}">&nbsp;</td>
                        <td class="{% if v.is_writable == 1 %}success{% else %}danger{% endif %}">&nbsp;</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
