{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda, cadre patient
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}

<div id="patientInfo" class="mb-3" style="display: none;">
  <ul class="nav nav-tabs">
    <li class="nav-item font-weight-bold">
      <span class="nav-link active bg-light" style="border-bottom-color : #f5f5f5"><i class="fas fa-user fa-fw mr-1"></i> Patient</span>
    </li>
    <li class="nav-item ml-auto pt-1">
      {% if config.optionGeActiverVitaleLecture =='true' %}
        <button id="lectureCpsVital" type="button" class="btn btn-success btn-sm lireCpsVitale" title="Créer à partir des données carte vitale" style="display: none;"><i class="fas fa-user"></i> Vitale</button>
      {% endif %}
      <button id="nettoyer" class="btn btn-danger btn-sm" title="Revenir à l'état initial" style="display:none"><i class="fas fa-times fa-fw"></i></button>
    </li>
  </ul>
  <div id="patientFormTab" class="border-right border-left border-bottom bg-light">
    <form id="newPatientData" class="card-body">
        {{ f.formbuilder(page.formNewPatient , config.formFormulaireNouveauPatient, session) }}
    </form>
  </div>
</div>
