{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda, cadre patient
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}
<h5>Patient</h5>
<div id="patientSearch" class="btn-toolbar justify-content-between mb-3">
  <div class="input-group col-10 m-0 p-0">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
    </div>
    <input id="search" type="text" class="form-control" placeholder="Rechercher un patient" autocomplete="off"/>
  </div>
  <div class="input-group">
    <button id="newPatient" type="button" class="btn btn-outline-secondary" title="Créer un patient">
      <i class="fas fa-user-plus"></i>
    </button>
  </div>
</div>
{% if config.vitaleActiver =='true' %}
<div class="text-left">
  <button id="lectureCpsVital" type="button" class="btn btn-success mb-2 lireCpsVitale" style="display: none;"><i class="fas fa-user"></i> Vitale</button>
</div>
{% endif %}
<div id="patientInfo" style="display: none">
  {{ f.formbuilder(page.formNewPatient , config.formFormulaireNouveauPatient, session) }}
</div>
