{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2019
 # Bertrand Boutillier <b.boutillier@gmail.com>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda, recherche patient
 #
 # @author Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}

<div id="patientSearch">
  <div class="d-flex mb-4">
    <div class="input-group flex-grow-1">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
      </div>
      <input id="search" type="text" class="form-control" placeholder="Rechercher un patient" autocomplete="off"/>
    </div>
    <div class="nePasNettoyer">
      <button id="newPatient" type="button" class="btn btn-secondary ml-3" title="Créer un patient">
        <i class="fas fa-user-plus fa-fw"></i>
      </button>
    </div>
  </div>
</div>
