{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda, cadre patient
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

{% import "macroForm.html.twig" as f %}
<h5>Patient</h5>
<div id="patientSearch">
  <div class="d-flex mb-4">
    <div class="input-group flex-grow-1">
      <div class="input-group-prepend">
        <div class="input-group-text" id="btnGroupAddon"><i class="fas fa-search"></i></div>
      </div>
      <input id="search" type="text" class="form-control" placeholder="Rechercher un patient" autocomplete="off"/>

    </div>

    <button id="newPatient" type="button" class="btn btn-secondary ml-3" title="Créer un patient">
      <i class="fas fa-user-plus fa-fw"></i>
    </button>
  </div>
</div>


<div class="d-flex justify-content-between mb-3">
  {% if config.vitaleActiver =='true' %}
    <button id="lectureCpsVital" type="button" class="btn btn-success lireCpsVitale" title="Créer à partir des données carte vitale" style="display: none;"><i class="fas fa-user"></i> Vitale</button>
  {% endif %}

  <button id="nettoyer" class="btn btn-danger ml-auto" title="Revenir à l'état initial" style="display:none"><i class="fas fa-times fa-fw"></i>Annuler</button>
</div>

<div id="patientInfo" style="display: none">
  {{ f.formbuilder(page.formNewPatient , config.formFormulaireNouveauPatient, session) }}
</div>
