{#
 # This file is part of MedShakeEHR.
 #
 # Copyright (c) 2018
 # fr33z00 <https://github.com/fr33z00>
 # http://www.medshake.net
 #
 # MedShakeEHR is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # any later version.
 #
 # MedShakeEHR is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with MedShakeEHR.  If not, see <http://www.gnu.org/licenses/>.
 #/

/##
 # Template > Agenda, historique patient
 #
 # @author fr33z00 <https://github.com/fr33z00>
 # @contrib Bertrand Boutillier <b.boutillier@gmail.com>
 #}

<div id="historiquePatient" class="mb-3 p-0" style="display: none;">
 <ul class="nav nav-tabs">
   <li class="nav-item font-weight-bold">
     <span class="nav-link active"><i class="fas fa-calendar-alt fa-fw mr-1"></i> RDV déjà attribués</span>
   </li>
   <li class="nav-item ml-auto pt-1">
     <div id="HistoriqueRdvResume" class="btn-group" role="group">
       <button title="total" type="button" disabled class="btn btn-secondary btn-sm donothing font-weight-bold px-2 py-0">0</button>
       <button title="honorés" type="button" disabled class="btn btn-success btn-sm donothing font-weight-bold px-2 py-0">0</button>
       <button title="annulés" type="button" disabled class="btn btn-warning btn-sm donothing font-weight-bold px-2 py-0">0</button>
       <button title="absent" type="button" disabled class="btn btn-danger btn-sm donothing font-weight-bold px-2 py-0">0</button>
     </div>
   </li>
 </ul>
 <div class="border-right border-left border-bottom">
   <ul id="historiquePatientList" class="list-group list-group-flush list-sm small "></ul>
 </div>
</div>
