services:
  medshakeehr:
    container_name: msehr
    # image: marsante/msehr:latest
    build: 
      context: ./
      tags:
        - "marsante/msehr:master"
    user: ${USER_ID}:${GROUP_ID}
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      VIRTUAL_HOST: ${VIRTUAL_HOST}
      MSEHR_HOST: ${MSEHR_HOST}
      SELF_SIGNED_HOST: ${VIRTUAL_HOST}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      PORT: ${PORT}
      PROTO: ${PROTO}
      # COOKIED: ${COOKIED}
      # FINGERPRINT: ${FINGERPRINT}
      # SQLVARPSWD: ${SQLVARPSWD}
    depends_on:
      - db
      - proxy-companion
    volumes: 
      # - medshakeehr:/var/www/html
      # if you use bind volume with arbitrary user create first the folder with the good permissions
      - ../../:/var/www/html
      # # for custom php.ini
      # - ./config/30-custom-php.ini:/usr/local/etc/php/30-custom-php.ini:ro
    networks:
      - proxy
      - db
      - dicom
    labels:
      - "com.centurylinklabs.watchtower.no-pull=true" # For allow update with watchtower and local image if you build the image. Comment if you use dockerhub image
      - "com.github.nginx-proxy.nginx-proxy.ssl_verify_client=optional" # On production install the cetificate on your browser and set the option to on

  # https://hub.docker.com/_/mariadb
  db:
    image: mariadb:10.11
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MARIADB_AUTO_UPGRADE: ${MARIADB_AUTO_UPGRADE}
    volumes: 
      - db-data:/var/lib/mysql
      # If you would import old database
      # - ./db-data:/docker-entrypoint-initdb.d
      # # for custom mariadb conf file
      # - ./config/custom-mariadb.cnf:/etc/mysql/conf.d/custom-mariadb.cnf:ro
    networks:
      - db

  # https://hub.docker.com/_/phpmyadmin  
  phpmyadmin:
    image: phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
      - proxy-companion
    environment:
      VIRTUAL_HOST: "pma.${VIRTUAL_HOST}"
      SELF_SIGNED_HOST: "pma.${VIRTUAL_HOST}"
      PMA_HOST: db
    networks:
      - proxy
      - db
    profiles:
      - debug

  # https://hub.docker.com/r/osimis/orthanc
  dicom:
    image: jodogne/orthanc
    restart: unless-stopped
    command: /run/secrets/  # Path to the configuration files (stored as secrets)
    secrets:
      - orthanc.json
    networks:
      - dicom
    profiles:
      - dicom

  # https://hub.docker.com/r/nginxproxy/nginx-proxy
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    restart: unless-stopped
    environment:
      TZ: ${TZ}
      # Uncomment for custom ports
      # HTTP_PORT: 8080 
      # HTTPS_PORT: 4433
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - certs:/etc/nginx/certs
      - /var/run/docker.sock:/tmp/docker.sock:ro
      # rootless socket for user 1000
      # - /run/user/1000/docker.sock:/tmp/docker.sock:ro
    networks:
      - proxy
      
  # https://hub.docker.com/r/sebastienheyd/self-signed-proxy-companion
  proxy-companion:
    image: sebastienheyd/self-signed-proxy-companion
    restart: unless-stopped
    depends_on:
      - nginx-proxy
    volumes:
      - certs:/etc/nginx/certs
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # rootless socket for user 1000
      # - /run/user/1000/docker.sock:/var/run/docker.sock:ro

  # https://hub.docker.com/r/containrrr/watchtower
  watchtower:
    image: containrrr/watchtower 
    restart: unless-stopped
    environment:
      TZ: $TZ 
      # WATCHTOWER_SCHEDULE: ${WATCHTOWER_SCHEDULE}
      WATCHTOWER_ROLLING_RESTART: ${WATCHTOWER_ROLLING_RESTART}
      WATCHTOWER_CLEANUP: ${WATCHTOWER_CLEANUP}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # - /run/user/1000/docker.sock:/var/run/docker.sock:ro

  # # https://hub.docker.com/r/linuxserver/wireguard
  vpn:
    image: lscr.io/linuxserver/wireguard:latest
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      PUID: ${USER_ID}
      PGID: ${GROUP_ID}
      TZ: ${TZ}
      SERVERURL: #optional, public domain or IP
      SERVERPORT: 51820 #optional
      PEERS: 1 #optional
      PEERDNS: auto #optional
      INTERNAL_SUBNET: ${INTERNAL_SUBNET}  #optional
      ALLOWEDIPS: 0.0.0.0/0 #optional
      PERSISTENTKEEPALIVE_PEERS: #optional
      LOG_CONFS: true #optional
    volumes:
      - ${VPN_CONFIG_PATH}:/config
      - /lib/modules:/lib/modules #optional
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
    networks:
      - proxy
    profiles:
      - vpn

secrets:
  orthanc.json:
    file: orthanc.json

volumes:
  db-data:
  certs:
  # medshakeehr:

networks:
  proxy:
    name: proxy
  db:
  dicom:
